.search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.top {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#card {
    margin: auto;
    width: 80%;
    padding: 10px;
    border: solid;
}

img {
    border-radius: 50%;
    margin-right: auto;
}
