.search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.top {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#card {
    margin: auto;
    margin-top: 5px;
    width: 80%;
    padding: 10px;
    border: solid;
    border-style: groove;
    border-width: 0.5px;
    border-color: gray;
    min-width: 500px;
}

#info {
    margin: auto;
}

h6 {
    text-align: center;
}

.banner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.details {
    margin: auto;
    width: 40%;
}

.favorite {
    position: relative;
    left: 450px;
    bottom: 80px;
}

.favorite:hover {
    cursor: pointer;
}
